{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}
 
 
 
{% block body %}

<div class="container">
    <div>
        <div class="col-md-12 tex"><h1>Film List</h1></div>
    </div>
    <div>
        <table class="table">
            <thead>
                <th>Film ID	</th>
                <th>Title</th>
                <th>Year released</th>
                <th>Rating</th>
                <th>Duration</th>
                <th>Genre</th>
            </thead>
            <tbody>
                {% for film in films %}
                <tr>
                <td>{{ loop.index }}</td>
                <td>{{film.title}}</td>
                <td>{{film.yearReleased}}</td>
                <td>{{film.rating}}</td>
                <td>{{film.duration}}</td>
                <td>{{film.genre}}</td>
                <td>
                    <span style="font-size: 24px;color:green;">
                        <a href="/{{film.filmID}}/edit"> <i class="fas fa-edit"></i></a> </span>
                        <span style="font-size: 24px;color:red;">  
                           <a href="/{{film.filmID}}/delete"> <i class="fas fa-trash-alt"></i></a></span></td>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}